:root {
  --primary-color: #06E5F0;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --transition-speed: 0.4s;
  --large-heading: 4rem;
  --medium-heading: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

span {
  color: var(--primary-color);
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: var(--large-heading);
  margin-bottom: 0.8rem;
  line-height: 1.1;
}

.m-heading {
  font-size: var(--medium-heading);
  margin-bottom: 0.8rem;
  line-height: 1.1;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.bg-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.list {
  list-style: none;
  margin: 0.5rem 0;
}

.list li {
  padding: 0.5rem 0;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all var(--transition-speed) ease;
}

.btn:hover {
  background: var(--dark-color);
  color: var(--primary-color);
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-dark:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: var(--dark-color);
  color: #fff;
  padding: 1rem;
  z-index: 1;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: inherit;
  padding: 1rem;
  margin: 0 0.5rem;
  transition: all var(--transition-speed) ease;
}

#navbar ul li a:hover {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

/* Showcase */
#showcase {
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.showcase-text {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* Courses */
#courses .items {
  display: flex;
  padding: 1rem;
}

#courses .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#courses .items .item i {
  background: var(--primary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}

/* About Us */
#about {
  display: flex;
}

#about div {
  flex: 1;
}

#about .team-photo {
  background: url('../img/team.jpg') no-repeat center center/cover;
}

/* Partners */
#partners .items {
  display: flex;
}

#partners .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Contact */
#contact {
  display: flex;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.8rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--dark-color);
}

@media(min-width: 1100px) {
  #courses .items .item {
    display: flex;
    text-align: left;
  }

  #courses .items .item i {
    align-self: center;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  #contact .map {
    flex: 2;
  }
}